@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.FlexBox-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Header{
    width: 100vw;
    height: 80px;

    margin: 0px;
    padding: 0px;

    position: absolute;
    z-index: 1;
}
.NavList {
    width: 100%;
    height: 80px;
}
.NavUl{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: right;
    line-height: 80px;
}
.NavUl li{
    text-decoration: none;
    display: inline;
    padding: 30px;
}
.NavUl a{
    color: white;
    text-decoration: none;
    text-shadow: -2px 2px 4px black;
}
.NavUl li :hover{
    text-decoration: underline;
    color: wheat;
}
.MainPic{
    width: 100vw;
    height: 100vh;

    background-image: url("SnowyMountain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(0px);
}
.textContainer{
    width: 30vw;
    height: 5vh;
    
    text-align: center;

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#titleText{
    font-size: 70px;
    letter-spacing: 10px;
    text-shadow: -2px 2px 2px black;
    display: none;
}
#descText{
    font-size: 25px;
    display: none;
}