@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.FlexBox-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Header{
    transition: all 0.8s ease;
    
    width: 100%;
    height: 80px;

    margin: 0px;
    padding: 0px;

    position: absolute;
    z-index: 1;
}
.Header.AfterScroll{
    transition: all 0.8s ease;
    background-color: rgba(90, 90, 90, 0.4);
    height: 100px;
    position: fixed;
}
.NavList {
    width: 100%;
    height: 80px;
}
.NavUl{
    transition: all 0.8s ease;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: right;
    line-height: 80px;
}
.NavUl.AfterScroll{
    transition: all 0.8s ease;
    line-height: 100px;
}
.NavUl li{
    text-decoration: none;
    display: inline;
    padding: 30px;
}
.NavUl a{
    color: wheat;
    text-decoration: none;
    text-shadow: -2px 2px 4px black;
}
/*.NavUl li :hover{
    text-decoration: underline;
    color: wheat;
}*/
.MainPic{
    width: 100%;
    height: 100vh;

    background-image: url("SnowyMountain.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(0px);
}
.textContainer{
    width: 35vw;
    height: 5vh;
    
    text-align: center;

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.Divider{
    width: 100vw;
    height: 1vh;
    background-color: gray;
}
.SecondPic{
    width: 100%;
    height: 100vh;

    background-image: url("WhiteTress.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    filter: blur(0px);
}
.MeritLådor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    list-style-type: none;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}
.MeritLåda{
    height: 600px;
    width: 400px;

    margin: 20px;

    vertical-align: middle;
    text-align: center;
    z-index: 1;
    background-color: wheat;

    box-shadow: 14px 14px 40px 8px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.MeritLåda:hover{
    box-shadow: 14px 14px 40px 8px rgba(0,0,0,1);
}
#Icon{
    height: 200px;
    width: 200px;
    
    vertical-align: middle;
    
    filter: drop-shadow(0px 0px 4px black);
    
    margin: 0px;
    padding: 0px;

    position: absolute;

    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.3s ease;
}
#Icon.AfterScroll{
    transition: all 0.8s ease;
    
    height: 50px;
    width: 50px;

    float: left;

    position: fixed;

}
#titleText{
    font-size: 4vw;
    letter-spacing: 10px;
    text-shadow: -3px 3px 4px black;
    display: none;
}
#descText{
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    overflow: hidden;
    display: none;
}
@media screen and (max-width: 700px) {
  #titleText {
    font-size: 8vw;
    width: 100%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
  }
  #descText{
      font-size: 4vw;
      width: 100%;
      flex-wrap: wrap;
      overflow-wrap: break-word;
  }
}